<div class="container mb-5">
  <div class="row">
    <div class="col-12 col-md-8 z-n1">
      <div class="d-flex align-items-center mt-3">
        <div class="breadcrum-box"><span>Home</span></div>
        <span class="breadcrum-color">Finland</span>
      </div>
      <div class="country-head">
        <h2 class="mt-3 f-size-18 fw-bold">Shipping in Finland</h2>
        <p class="f-size-13">
          We’re buzzing in Finland! Our plans? Making you happy. We’re
          partnering with local businesses, using some production facilities,
          and partnering there to offer great services at the lowest rates.
        </p>
      </div>
      <h5 class="f-size-13 fw-bold">
        $0.99/SF for all banners over 200 sq.ft.
      </h5>
      <h6 class="mb-4 f-size-14 fw-bold">Shipping Charges:</h6>
      <table class="table d-none d-md-block mb-5">
        <thead>
          <tr class="f-size-13 fw-bold">
            <th scope="col">ORDER VALUE ($)</th>
            <th scope="col">PRIORITY</th>
            <th scope="col">EXPRESS</th>
            <th scope="col">STANDARD GROUND</th>
            <th scope="col">SUPER SAVER</th>
          </tr>
        </thead>
        <tbody class="f-size-13">
          <tr>
            <td>0 - 99</td>
            <td>$28.93</td>
            <td>$21.68</td>
            <td>$14.43</td>
            <td>Free Shipping</td>
          </tr>
          <tr>
            <td>100 - 199</td>
            <td>$47.78</td>
            <td>$27.48</td>
            <td>$8.63</td>
            <td>Free Shipping</td>
          </tr>
          <tr>
            <td>200 - 299</td>
            <td>$65.18</td>
            <td>$36.18</td>
            <td>$12.98</td>
            <td>Free Shipping</td>
          </tr>
          <tr>
            <td>300 - 399</td>
            <td>$85.48</td>
            <td>$56.48</td>
            <td>$14.43</td>
            <td>Free Shipping</td>
          </tr>
          <tr>
            <td>400 and above</td>
            <td>21.75% of the order value</td>
            <td>14.5% of the order value</td>
            <td>4.35% of the order value</td>
            <td>Free Shipping</td>
          </tr>
        </tbody>
      </table>
      <table class="table d-block d-md-none mb-5">
        <tbody>
          <tr>
            <th scope="col">PRIORITY</th>
            <td>$28.93</td>
          </tr>
          <tr>
            <th scope="col">ORDER VALUE ($)</th>
            <td>$47.78</td>
          </tr>
          <tr>
            <th scope="col">EXPRESS</th>
            <td>$65.18</td>
          </tr>
          <tr>
            <th scope="col">STANDARD GROUND</th>
            <td>$14.43</td>
          </tr>
          <tr>
            <th scope="col">SUPER SAVER</th>
            <td>Free Shipping</td>
          </tr>
        </tbody>
      </table>
      <h5 class="f-size-16 fw-bold mb-2">
        Got question? Just give us a call, anytime.
      </h5>
      <div class="d-flex justify-content-between mb-3 flex-wrap f-size-16">
        <div class="f-size-14 w-50 mb-3">
          <h6 class="f-size-13 mb-0">USA/CANADA</h6>
          <a href="tel:1800-580-4489">1800-580-4489</a> /
          <a href="mailto:sales@bannerbuzz.com">sales@bannerbuzz.com</a>
        </div>
        <div class="f-size-14 w-50">
          <h6 class="f-size-13 mb-0">United Kingdom</h6>
          <a href="tel:020-3514-3788">020-3514-3788 </a> /
          <a href="mailto:sales@bannerbuzz.co.uk">sales@bannerbuzz.co.uk</a>
        </div>
        <div class="f-size-14">
          <h6 class="f-size-13 mb-0">Australia</h6>
          <a class="" href="tel:+61 283104315">+61 283104315</a> /
          <a href="mailto:sales@bannerbuzz.com.au">sales@bannerbuzz.com.au</a>
        </div>
      </div>
      <button type="button" class="btn primary-button-css f-size-14">
        Got it. Place order.
      </button>
      <p class="f-size-13 mt-2">
        Prices mentioned are in USD. Your local taxes and duties may still be
        applicable.
      </p>
    </div>
    <div class="col-12 fancyCheck col-md-4 z-n1">
      <h6 class="mt-5">All about shipping to Finland</h6>
      <hr />
      <ul class="f-size-13">
        <li>
          All international orders will be shipped via UPS or FedEx with a
          two-day international priority shipping mode.
        </li>
        <li>
          In case we do not produce a product locally, it will be shipped from
          one of our own manufacturing facilities or from our partner. In all
          cases product specs remain exactly the same.
        </li>
        <li>
          We have set up our shipping accounts, where we will be paying customs
          wherever applicable, but we will not be responsible for any additional
          local duties or taxes.
        </li>
        <li>
          Design Print Banner will not be responsible for any delays caused by
          shipping carrier or local authorities.
        </li>
        <li>
          For the customer who pays with paypal e-check, orders will be shipped
          after the payment is clear.
        </li>
        <li>
          We accept payment in USD and we are not responsible for any additional
          fees or charges by your bank or credit card company.
        </li>
        <li>
          We follow US holiday-schedule. Please add US holidays when calculating
          delivery dates.
        </li>
      </ul>
    </div>
    <div
      class="d-flex flex-wrap mt-2 mt-md-0 justify-content-center justify-content-md-start text-center"
    >
      <div class="w-124 me-2">
        <img
          alt="country-img"
          src="/static/media/cu-1.89819216f063e9b9adde15e3f6013a2b.svg"
        />
        <p class="f-size-14">Finland</p>
      </div>
      <div class="w-124 me-2">
        <img
          alt="country-img"
          src="/static/media/cu-2.870e1edb0a38cedacb3c41ed87615ee4.svg"
        />
        <p class="f-size-14">Finland</p>
      </div>
      <div class="w-124 me-2">
        <img
          alt="country-img"
          src="/static/media/cu-3.a46ac00dc06ee64074c58fe9d36f9992.svg"
        />
        <p class="f-size-14">Finland</p>
      </div>
      <div class="w-124 me-2">
        <img
          alt="country-img"
          src="/static/media/cu-4.a207b733c72782edb11b5909fdd17756.svg"
        />
        <p class="f-size-14">Finland</p>
      </div>
      <div class="w-124 me-2">
        <img
          alt="country-img"
          src="/static/media/cu-5.f53d919e35cf9495b9804c575a8370dd.svg"
        />
        <p class="f-size-14">Finland</p>
      </div>
      <div class="w-124 me-2">
        <img
          alt="country-img"
          src="/static/media/cu-6.f4931353dd398344c5d3161a34e2fcfa.svg"
        />
        <p class="f-size-14">Finland</p>
      </div>
      <div class="w-124 me-2">
        <img
          alt="country-img"
          src="/static/media/cu-7.b003297b93092211d8e4bba7ff5f0504.svg"
        />
        <p class="f-size-14">Finland</p>
      </div>
      <div class="w-124 me-2">
        <img
          alt="country-img"
          src="/static/media/cu-8.074c2228d5298c18dcd4925194991f30.svg"
        />
        <p class="f-size-14">Finland</p>
      </div>
      <div class="w-124 me-2">
        <img
          alt="country-img"
          src="/static/media/cu-9.a574247e7dfb9d6daeef9dfa6c0a38f1.svg"
        />
        <p class="f-size-14">Finland</p>
      </div>
      <div class="w-124 me-2">
        <img
          alt="country-img"
          src="/static/media/cu-10.029816b886e671e9dccff22e35650ff6.svg"
        />
        <p class="f-size-14">Finland</p>
      </div>
      <div class="w-124 me-2">
        <img
          alt="country-img"
          src="/static/media/cu-11.8453bf1fa0b204826d81933d25efa919.svg"
        />
        <p class="f-size-14">Finland</p>
      </div>
      <div class="w-124 me-2">
        <img
          alt="country-img"
          src="/static/media/cu-12.b8b6eea58f92b06cbfeb471d70ee2a5b.svg"
        />
        <p class="f-size-14">Finland</p>
      </div>
      <div class="w-124 me-2">
        <img
          alt="country-img"
          src="/static/media/cu-13.e11cef033190265230c020b8b18e0133.svg"
        />
        <p class="f-size-14">Finland</p>
      </div>
      <div class="w-124 me-2">
        <img
          alt="country-img"
          src="/static/media/cu-14.4c284c581ad0b12c555fb2cee966d1af.svg"
        />
        <p class="f-size-14">Finland</p>
      </div>
      <div class="w-124 me-2">
        <img
          alt="country-img"
          src="/static/media/cu-15.e2658401d2858101765f56e1fa3b4e90.svg"
        />
        <p class="f-size-14">Finland</p>
      </div>
      <div class="w-124 me-2">
        <img
          alt="country-img"
          src="/static/media/cu-16.a5b2c7a6e66e066099ad0348c2f168cc.svg"
        />
        <p class="f-size-14">Finland</p>
      </div>
      <div class="w-124 me-2">
        <img
          alt="country-img"
          src="/static/media/cu-17.4eb0607c355231941c4b0104ca4f0a9c.svg"
        />
        <p class="f-size-14">Finland</p>
      </div>
      <div class="w-124 me-2">
        <img
          alt="country-img"
          src="/static/media/cu-18.0cbe354423cdae8ba2c91e1cbbcc4720.svg"
        />
        <p class="f-size-14">Finland</p>
      </div>
      <div class="w-124 me-2">
        <img
          alt="country-img"
          src="/static/media/cu-19.65e3dae295394299b0a03327346b26be.svg"
        />
        <p class="f-size-14">Finland</p>
      </div>
    </div>
  </div>
</div>
